.hired {
    color: green;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.unhired {
    color: rgb(181, 2, 31);
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.hired:hover {
    color: chartreuse;
}

.unhired:hover {
    color: chartreuse;
}