

.container {
    padding: 1rem;
    font-weight: 900;
    transition: 0.25s linear;
    cursor: pointer;
}

.container:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}