

.rosterContainer {
    margin-top: 10rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem; 
}

.rosterDiv {
    border-right: 2px black solid;
}

.langDiv {
    margin: 1rem;
    font-weight: 900;
}