

.sidebarContainer {
    position: fixed;
    height: 100%;
    border-top-left-radius: 10px;
    right: 0rem;
    z-index: 5;
    background: #1c1b1c;
    animation: slide-in 0.5s;
 
}

.xDiv {
    color: #f3f1f1;
    padding: 0.75rem;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
}

.xDiv:hover {
    color: rgb(213, 179, 178);
}

.menuOption {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #f3f1f1;
    margin: 2rem 3rem 2rem 0rem;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.menuOption:hover {
    text-decoration: underline;
    text-underline-offset: 0.75rem;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(30rem);
    }
    to {
        opacity: 1;
        transform: translateX(0rem);
    }

}